<!-- stylesheets -->
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css"
rel="stylesheet" media="screen">
<link href="{{ url_for('static',filename='main.css') }}" rel="stylesheet">

... snip ...

<!-- Scripts -->
<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrap.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
<script type="{{ url_for('static',filename='main.js') }}" type="text/javascript"></script>